<!DOCTYPE html>
<html>
    <head>
        <title>
            Contact success!
        </title>
    </head>
    <body>
        Thanks for writing to <%= data.name%> of <%= data.dept %>.
        We will reply quickly to <%= data.email%>
    </body>
</html>