<!DOCTYPE html>
<html>
    <head>
        <title>
            First Node JS Project
        </title>
        <link rel="stylesheet" href="/assets/styles.css" type="text/css">
    </head>
    <body>
        <h1>
            <% include partial/nav.ejs %>
            Welcome to the website.
        </h1>
    </body>
</html>